---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import MetaHead from "@components/MetaHead.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";

import SkillList from "@components/SkillList.astro";
import ExperienceList from "@components/ExperienceList.astro";
import ProjectList from "@components/ProjectList.astro";
import EducationList from "@components/EducationList.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead title={"Portfolio"} description={info.about} />
    </head>

    <body class="relative">
        <Layout>
            <Hero
                name={info.name}
                jobDescription={info.jobDescription}
                about={info.about}
            />

            <Section title="Skills">
                <div class="flex flex-row justify-between flex-wrap gap-8">
                    <SkillList
                        types={["Language"]}
                        listTitle="Languages"
                        skills={info.skills}
                    />
                    <SkillList
                        types={["Framework"]}
                        listTitle="Frameworks"
                        skills={info.skills}
                    />
                    <SkillList
                        types={["Tool"]}
                        listTitle="Tools & Design"
                        skills={info.skills}
                    />
                </div>
            </Section>

            <Section title="Experiences">
                <ExperienceList experiences={info.experiences} />
            </Section>

            <Section title="Projects">
                <ProjectList projects={info.projects} />
            </Section>

            <Section title="Education">
                <EducationList educations={info.educations}/>
            </Section>
            
        </Layout>

        <script is:inline defer>
            const sections = document.querySelectorAll("section");
            const navLinks = document.querySelectorAll("nav ul li");

            window.addEventListener("scroll", () => {
                let current = "";
                sections.forEach((section) => {
                    const sectionTop = section.offsetTop;
                    const sectionHeight = section.clientHeight;
                    if (window.scrollY >= sectionTop - sectionHeight)
                        current = section.getAttribute("id");
                });

                navLinks.forEach((li) => {
                    li.classList.remove("opacity-60");
                    if (li.classList.contains(current))
                        li.classList.add("opacity-100");
                    else li.classList.add("opacity-60");
                });
            });
        </script>
    </body>
</html>
