---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import MetaHead from "@components/MetaHead.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";

import SkillList from "@components/SkillList.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <MetaHead title={"Portfolio"} description={info.about} />
    </head>

    <body class="relative">
        <Layout>
            <Hero
                name={info.name}
                jobDescription={info.jobDescription}
                about={info.about}
            />

            <Section title="Skills">
                <SkillList
                    types={["Language"]}
                    listTitle="Languages"
                    skills={info.skills}
                />
                <SkillList
                    types={["Framework"]}
                    listTitle="Frameworks"
                    skills={info.skills}
                />
                <SkillList
                    types={["Tool"]}
                    listTitle="Tools & Design"
                    skills={info.skills}
                />
            </Section>

            <Section title="Experiences">
                <SkillList
                    types={["Language"]}
                    listTitle="Languages"
                    skills={info.skills}
                />
                <SkillList
                    types={["Framework"]}
                    listTitle="Frameworks"
                    skills={info.skills}
                />
                <SkillList
                    types={["Tool"]}
                    listTitle="Tools & Design"
                    skills={info.skills}
                />
            </Section>

            <Section title="Projects">
                <SkillList
                    types={["Language"]}
                    listTitle="Languages"
                    skills={info.skills}
                />
                <SkillList
                    types={["Framework"]}
                    listTitle="Frameworks"
                    skills={info.skills}
                />
                <SkillList
                    types={["Tool"]}
                    listTitle="Tools & Design"
                    skills={info.skills}
                />
            </Section>

            <Section title="Education">
                <SkillList
                    types={["Language"]}
                    listTitle="Languages"
                    skills={info.skills}
                />
                <SkillList
                    types={["Framework"]}
                    listTitle="Frameworks"
                    skills={info.skills}
                />
                <SkillList
                    types={["Tool"]}
                    listTitle="Tools & Design"
                    skills={info.skills}
                />
            </Section>
        </Layout>
        <script is:inline>
            const sections = document.querySelectorAll("section");
            const navLinks = document.querySelectorAll("nav ul li");

            window.addEventListener("scroll", () => {
                let current = "";
                sections.forEach((section) => {
                    const sectionTop = section.offsetTop;
                    const sectionHeight = section.clientHeight;
                    if (window.scrollY >= sectionTop - sectionHeight/.9)
                        current = section.getAttribute("id");
                });

                navLinks.forEach((li) => {
                    li.classList.remove("opacity-60");
                    if (li.classList.contains(current))
                        li.classList.add("opacity-100");
                    else
                        li.classList.add("opacity-60");
                });
            });
        </script>
    </body>
</html>
