---
import { type IProjectListProps, type IProjectProps } from "@types";
import LinkIcon from "./LinkIcon.astro";

const { projects } = Astro.props as IProjectListProps;
---

<div class="flex flex-col gap-y-8">
    {
        projects.map((project: IProjectProps) => {
            const projectTitle =
                project.liveLink && project.liveLink.trim() !== "" ? (
                    <a
                        href={project.liveLink}
                        class="flex flex-row flex-wrap items-center hover:text-neon-teal cursor-pointer transition-all duration-150 link-title"
                    >
                        <h3>
                            {project.title}{" "}
                            <LinkIcon width="14px" height="14px" />
                        </h3>
                    </a>
                ) : (
                    <div class="flex flex-row">
                        <h3>{project.title}</h3>
                    </div>
                );

            const projectThumbnail =
                project.liveLink && project.liveLink.trim() !== "" ? (
                    <a href={project.liveLink}>
                        <img
                            class="rounded border-neon-teal/10 border w-full hover:border-neon-teal/70 hover:shadow-md hover:shadow-neon-teal/30 transition-all duration-200"
                            src={project.thumbnail}
                            alt={`An image of the ${project.title} project`}
                            decoding="async"
                            loading="lazy"
                        />
                    </a>
                ) : (
                    <img
                        class="rounded border-neon-teal/10 border w-full"
                        src={project.thumbnail}
                        alt={`An image of the ${project.title} project`}
                        decoding="async"
                        loading="lazy"
                    />
                );

            return (
                <div class="flex flex-col gap-y-3">
                    {projectTitle}
                    <div class="flex flex-col gap-y-3 gap-x-6 lg:flex-row">
                        <div class="lg:flex-1">
                            {projectThumbnail}
                            <div class="flex flex-row flex-wrap gap-2 mt-2.5">
                                {project.techTags.map((techTag: string) => {
                                    return (
                                        <div class="border-neon-teal hover:bg-neon-teal/10 border py-1 px-2 rounded opacity-70 hover:opacity-100 transition-opacity duration-150 cursor-default">
                                            <p class="text-xs text-neon-teal">
                                                {techTag}
                                            </p>
                                        </div>
                                    );
                                })}
                            </div>
                        </div>
                        <div class="lg:flex-1">
                            <p class="pt-2 lg:pt-0 text-slate-400">
                                {project.shortDescription}
                            </p>
                        </div>
                    </div>
                </div>
            );
        })
    }
</div>
