---
import { type IProjectListProps, type IProjectProps } from "@types";

const { projects } = Astro.props as IProjectListProps;
---

<div class="flex flex-col gap-y-8">
    {
        projects.map((project: IProjectProps) => {
            return (
                <div class="flex flex-col gap-y-3">
                    <h3 class="hover:text-neon-teal cursor-pointer transition-all duration-150">
                        {project.title}
                    </h3>
                    <div class="flex flex-col gap-y-3 gap-x-6 lg:flex-row">
                        <div class="lg:flex-1">
                            <img
                                src={project.thumbnail}
                                alt={`An image of the ${project.title} project`}
                                decoding="async"
                                loading="lazy"
                            />
                            <div class="flex flex-row flex-wrap gap-2 mt-2">
                                {project.techTags.map((techTag: string) => {
                                    return (
                                        <div class="border-neon-teal border py-1 px-2 rounded opacity-70 hover:opacity-100 transition-opacity duration-150 cursor-default">
                                            <p class="text-xs text-neon-teal">
                                                {techTag}
                                            </p>
                                        </div>
                                    );
                                })}
                            </div>
                        </div>
                        <div class="lg:flex-1">
                            <p class="pt-2 lg:pt-0 text-slate-400">
                                {project.shortDescription}
                            </p>
                        </div>
                    </div>
                </div>
            );
        })
    }
</div>
