---
import { type ISkillListProps, type ISkillProps } from "@types";
import HoverIcon from "./HoverIcon.astro";

const { types, listTitle, skills } = Astro.props as ISkillListProps;
---

<div class="flex flex-col">
    <h3 class="whitespace-pre mb-2">{listTitle.toUpperCase()}</h3>

    <ul>
        {
            skills
                .filter((skill: ISkillProps) => types.includes(skill.type))
                .map((skill: ISkillProps) => {
                    return (
                        <li class="flex flex-row items-center gap-4 my-1.5 text-slate-400 hover:text-light transition-colors duration-150 skill-line">
                            <div>
                                <HoverIcon 
                                    url={skill.imageUrl}
                                    hoverUrl={skill.hoverImageUrl}
                                    altTag={`A SVG Icon of ${skill.title}`}
                                    height="24px"
                                    width="24px"
                                />
                            </div>
                            <p class="">{skill.title}</p>
                        </li>
                    );
                })
        }
    </ul>
</div>
